@font-face { font-family: montserrat-light; 
  src: url('/Montserrat/Montserrat-Light.ttf'); 
} 
@font-face { font-family: montserrat-black; 
  src: url('/Montserrat/Montserrat-Black.ttf'); 
} 
@font-face { font-family: montserrat-medium; 
  src: url('/Montserrat/Montserrat-Medium.ttf'); 
} 

body {
  font:"montserrat-medium", Helvetica, Arial, sans-serif;
}

/* header start */
.main-img {
  background-image: url('/images/header.png');
  background-position: center;
  background-size: cover;
  padding:80px 0px 150px 0px;
}

.main-img h4 {
  margin-top: 40px;
  color: #e6e6e6;
  font-family: 'montserrat-light';
  font-size: 34px;
  border-bottom: 5px solid #AED036;
}

.main-img h5 {
  margin-top: 140px;
  color: #e6e6e6;
  font-family: 'montserrat-medium';
  font-size: 70px;
  text-align: center;
}

.main-img p {
  margin-top: 20px;
  color: #e6e6e6;
  font-family: 'montserrat-light';
  font-size: 32px;
  text-align: center;
}

.header-title {
  margin: 0 auto;
}

.header-title img {
  max-height: 90px;
}

.main-img div {
  display: flex;
  justify-content: space-between;
}
/* header end */
.section-1,
.section-2 {
  padding:60px 0px 100px 0px;
}
/* section 1 start */
.section-1 a:hover {
  text-decoration: none;
}

.section-1 h3 {
  font-family: 'montserrat-medium';
  font-size: 50px;
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 40px;
}

.section-1 h3 span {
  border-bottom: 5px solid #AED036;
}

.portfolio-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-box {
  color: #e6e6e6;
  margin-bottom: 15px;
  height: 360px;
  width: 360px;
  background-color: #ccc;
  text-align: center;
  padding: 100px 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.portfolio-box:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* section 1 end */

/* section 2 start */
.section-2  {
  background-color: #ccc;
  color: #1a1a1a;
}

.section-2 h3 {
  font-family: 'montserrat-medium';
  font-size: 50px;
  margin-bottom: 30px;
}

.section-2 h4,
.section-2 p {
  font-family: 'montserrat-light';
  font-size: 40px;
}

.small-text {
  font-size: 30px;
}

.portfolio-info {
  margin-bottom: 20px;
}

/* section 2 end */

/* footer start */
footer {
  background-image: url('/images/header.png');
  background-position: center;
  background-size: cover;
  padding:80px 0px 100px 0px;
  color: #e6e6e6;
  font-family: 'montserrat-light';
}

footer h3 {
  font-size: 50px;
  margin: 40px 0px;
}

.footer-info {
  margin-bottom: 70px;
}

.footer-icons {
  color: #e6e6e6;
  font-family: 'montserrat-light';
  font-size: 30px;
}

footer .mail-img {
  height: 50px;
  margin-right: 20px;
}

footer a {
  color: #e6e6e6;
  display: block;
  margin-bottom: 20px;
}

footer a:hover {
  color: #AED036;
  text-decoration: none;
}
/* footer end */

@media screen and (max-width: 767px) {
  .main-img h5 {
    font-size: 30px;
  }

  .main-img p {
    font-size: 28px;
  }

  .section-2 h4, .section-2 p {
    font-size: 30px;
  }
  .small-text {
    font-size: 24px;
  }

  .portfolio-container {
    display: block;
  }
  
  .portfolio-box {
    width: 100%;
  }

  .footer-icons {
    font-size: 22px;
  }

}