<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
</head>
<body>
    <!-- header section -->
    <header class='main-img'>
        <div class='container'>
            <div class='row'>
                <div class='col-sm-12 header-title justify-content-center align-items-center'>
                    <img src="images/logo_1.svg" alt="logo">
                </div>
                <div class='col-sm-12 header-desc justify-content-center align-items-center'>
                    <h4>UI/UX Designer</h4>
                </div>
                <div class='col-sm-12 header-text justify-content-center align-items-center'>
                    <h5>Designer. Thinker & Uste Nesto :)</h5>
                </div>
                <div class='col-sm-12 header-text justify-content-center align-items-center'>
                    <p>i'm a graphic and web desginer who loves createing clean and impressive interaces</p>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end-->

    <!-- body section start-->
    <div class='main-container'>
        <!-- section 1 start-->
        <div class='section-1'>
            <div class="container">
                <h3><span>My Projects</span></h3>
                <div class='portfolio-container'>
                    <a href="">
                        <div class='portfolio-box'>
                            <h5>Logo</h5>
                            <p>Lorem ipsum</p>
                        </div>
                    </a>
                    <a href="">
                    <div class='portfolio-box'>
                        <h5>Logo</h5>
                        <p>Lorem ipsum</p>
                    </div>
                    </a>
                    <a href="">
                    <div class='portfolio-box'>
                        <h5>Logo</h5>
                        <p>Lorem ipsum</p>
                    </div>
                    </a>
                    <a href="">
                    <div class='portfolio-box'>
                        <h5>Logo</h5>
                        <p>Lorem ipsum</p>
                    </div>
                    </a>
                    <a href="">
                    <div class='portfolio-box'>
                        <h5>Logo</h5>
                        <p>Lorem ipsum</p>
                    </div>
                    </a>
                    <a href="">
                    <div class='portfolio-box'>
                        <h5>Logo</h5>
                        <p>Lorem ipsum</p>
                    </div>
                    </a>
            </div>
            
            </div>
        </div>
        <!-- section 1 end-->
        <!-- section 2 start-->
        <div class='section-2'>
            <div class="container">
                <h3>About</h3>
                <div class='row'>
                    <div class='col-sm-12 portfolio-info'>
                        <span><p>WHAT I DO: <span class='small-text'>i love designing contemporary, clean and user-centered interaces for websites and mobile. My second passion is turning a good idea into eye-catching logos and brandy identity.</span></p></span>
                    </div>
                    <div class='col-sm-12 portfolio-info'>
                        <span><p>EDUCATION: <span class='small-text'>i have stuided Graphic Design on Faculty of Fine Arts-Skopje (2004-2008).></span></p></span>
                    </div>
                    <div class='col-sm-12 portfolio-info'>
                        <span><p>SKILLS: <span class='small-text'>illustrator, photosho,p Indesign, Adobe XD, UI/UX Design are my best friends.</span></p></span>
                    </div>
                </div>
            </div>    
        </div>
        <!-- section 2 end-->
    </div>
</body>
<footer>
    <div class='container'>
        <div class='footer-text'>
            <h3>SAY HELLO</h3>
            <div class='footer-info'>
                <p>dont be shy</p>
                <p>Have a new project or just say hi</p>
            </div>
        </div>
       <div class='footer-icons'>
            <a href="mailto:ivanagrbic@gmail.com"><img class='mail-img' src="images/mail_icon.svg" alt="mail">ivanagrbic@gmail.com</a>
            <a href="https;//linkedin.com/in/ivana-grbic-b8773b183"><img class='mail-img' src="images/linkedin_icon.svg" alt="linkedin">linkedin.com/in/ivana-grbic-b8773b183</a>
       </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</footer>